
<div class="container">
  <div *ngIf="!isHidden" class="row">
    <div class="col-sm">
      <mat-form-field appearance="fill">
        <mat-label>
          Task name:
        </mat-label>
        <input required #newTask matInput placeholder="Your task name">
        <mat-icon matSuffix>
          assignment
        </mat-icon>
      </mat-form-field>
      <button mat-button color="primary" (click)="addTask(newTask.value)">
        Save
      </button>
    </div>
  </div>
  <div *ngIf="isHidden" class="row">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action" (click)="showInput()">
        Add another task
      </a>
    </div>
  </div>
</div>