<div *ngIf="tasks.length">
  <mat-selection-list #taskList [(ngModel)]="selectedOptions">
    <mat-list-option
      class="myClass"
      checkboxPosition="before"
      *ngFor="let task of tasks"
      [value]="task"
      (click)="onItemChange(task)"
    >
      <div *ngIf="!task.isChecked">
        {{ task.name }}
      </div>
      <div *ngIf="task.isChecked" class="customInput">
        {{ task.name }}
      </div>
    </mat-list-option>
  </mat-selection-list>
</div>
<br />
<my-task (exampleOutput)="addTask($event)"></my-task>
