
 <div *ngIf="tasks.length">
  <mat-selection-list #taskList [(ngModel)]="selectedOptions" >
      <mat-list-option class="myClass" checkboxPosition="before" *ngFor="let task of tasks" [value] = "task"
      (click)="onItemChange(task, isChecked)">
       <div *ngIf="(!isChecked) || (task !== selectedOption)">{{task}}</div>  
      <div *ngIf="(isChecked) && (task === selectedOption)" class="customInput">{{task}}</div>  
      </mat-list-option>
    </mat-selection-list>
</div>
<br />
<my-task (exampleOutput) = "addTask($event)"></my-task>

